.App {
  text-align: center;
  display: table;
  margin: 0px auto 0px auto; 
  padding: 10%;
  /* background-image: linear-gradient(rgba(168,201,252, 0.45), rgba(168,201,252, 0.45)) ; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
