/* centers Grid elements */
.App {
  text-align: center;
  display: table;
  margin: 0px auto 0px auto; 
  padding: 5% 2% 0% 2%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
