.App {
  text-align: center;
  display: table;
  margin: 0px auto 0px auto; 
  padding:15px;
  /* background-image: linear-gradient(rgba(168,201,252, 0.45), rgba(168,201,252, 0.45)) ; */
}

.App-header {
  background-color: rgb(247, 242, 242);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
