body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nature-quotes-1557340276.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2{
  margin: 0;
  color: rgba(228, 243, 250, 0.911);
  text-shadow: 2px 2px 4px #000000;
}
.header{
  margin: 0;
  color: rgba(236, 244, 248, 0.973);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}
h1 {
  margin: 0;
}
.MuiButtonGroup-root {
  margin-bottom: 1rem;
}
.MuiGrid-root {
  margin-bottom: 8rem;
  opacity: .75;
}
.MuiGrid-root:hover {
  margin-bottom: 8rem;
  box-shadow: 20px 20px 40px #000000;
  border-radius: 10px;
  opacity: 1;
}
.space-span {
  padding-left: 10px;
  padding-right: 10px;
}
.MuiInputBase-root {
  width: 60%;
}
.descr-p {
/* width: 300px; */
margin-left: 0mm;
margin-right: 0mm;
font-size: 35px;
color: rgba(228, 243, 250, 0.911);
text-shadow: 4px 4px 4px #000000;

}

img {
  border-radius: 5px;
}
